<h1>Node Compiler</h1>

<hr />

<p>
Compiler for Node.js which compiles your app into a single executable.
</p>

<p><a href="https://github.com/enclose-io/node-compiler">https://github.com/enclose-io/node-compiler</a></p>
