<h1>Libmemfs</h1>

<hr />

<p>
Libmemfs is a portable, pure C implementation of a Unix-style, read-only, in-memory filesystem.
</p>

<p><a href="https://github.com/enclose-io/libmemfs">https://github.com/enclose-io/libmemfs</a></p>
