<h1>Libmemfs</h1>

<hr />

<p>Libmemfs is a portable pure-C implementation of an in-memory filesystem provided as a re-entrant linkable library with a solid API, enabling scripting languages to pack scripts into a single executable.</p>

<p><a href="https://github.com/enclose-io/libmemfs">https://github.com/enclose-io/libmemfs</a></p>
