<h1>Libsquash</h1>

<hr />

<p>
Portable, User-land SquashFS that can be easily linked and embedded within your application; a squashfuse fork.
</p>

<p><a href="https://github.com/enclose-io/libsquash">https://github.com/enclose-io/libsquash</a></p>
