<h1>Ruby Compiler</h1>

<hr />

<p>
Compiler for Ruby which compiles your project into a single executable.
</p>

<p><a href="https://github.com/enclose-io/node-compiler">https://github.com/enclose-io/ruby-compiler</a></p>
